:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --btn-border-width: 1px;

  --primary: #25a0e2;
  --secondary: #878a99;
  --success: #00bd9d;
  --info: #32ccff;
  --warning: #ffbc0a;
  --danger: #f06548;
  --dark: #343a40;
  --light: #f3f6f9;

  --primary-hover: #1f88c0;
  --secondary-hover: #737582;
  --success-hover: #00a185;
  --info-hover: #2badd9;
  --warning-hover: #d9a009;
  --danger-hover: #cc563d;
  --light-hover: #ced4da;
}

.v-main {
  width: 100vw;
}
